.trip{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-left: 560px;
    margin-top:100px;
}
.hr1{
    position: absolute;
    top: 150px;
    left: 380px;
    width: 180px;
    border: 1px solid black;
}
.hr2{
    position: absolute;
    top: 150px;
    right: 380px;
    width: 180px;
    border: 1px solid black;
}
.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:10%;
    margin-top: 0%;
}
.image{
    margin-top: 9px;
    margin-left: 680px;
    background-color: red;
    border-radius: 50%;
}
.back{
    display: inline; 
    font-size: 30px; 
    font-family: robot; 
    position: relative; 
    bottom: 20px; 
    left: 20px;
    color: red;
}
.child{
    padding-bottom: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right:25px;
    padding-left: 25px;
    border:1px solid red;
    margin-left: 20px;
    box-shadow: 5px 10px 15px #888888;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.hr{
    position: absolute;
    top: 400px;
    left: 700px;
    width: 180px;
    border: 1px solid black;
    width: 230px;
}
@media all and (max-width:856px){
.hr1{
    display:none;
}
.hr2{
    display:none;
}
.hr{
    display:none;
}
.trip{
    margin-left:141px; 
    font-size:30px;
}
.image{
    margin-left:64px;
    margin-top:-64px;
}
.back{
    display:none;
}
.parent{
    margin-left:10px;
}
}

@media all and (min-width:857px) and (max-width:1280px){
    .trip{
        margin-left:302px;
    }
    .hr1{
        display:none;
    }
    .hr2{
        display:none;
    }
    .hr{
        display:none;
    }
    .back{
        display:none;
    }
    .image{
        margin-left:220px;
        margin-top:-93px;
    }
}