.body{
    filter: blur( 10px);
    z-index: -1;
}
.box{
    z-index: +1;
}
.addlist{
    padding: 35px;
    margin: 30%;
    margin-top: 15%;
    margin-right: 36%;
    margin-left: 34.5%;
    border: 2px solid red;
    text-align:center;
    border-radius: 20px;
    box-shadow: 10px 5px 15px black;
    position: absolute;
    top: 100px;
    left: 100px;
}
.area{
    border: 2px solid red;
    padding-left: 50px;
    padding-right: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px black;
}
.add{
    background-color: red;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
}
.trip{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-left: 560px;
    margin-top:100px;
}
.hr1{
    position: absolute;
    top: 150px;
    left: 380px;
    width: 180px;
    border: 1px solid black;
}
.hr2{
    position: absolute;
    top: 150px;
    right: 380px;
    width: 180px;
    border: 1px solid black;
}
.image{
    margin-top: 9px;
    margin-left: 680px;
    background-color: red;
    border-radius: 50%;
}
.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:10%;
    margin-top: 0%;
}
.child{
    padding-bottom: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right:25px;
    padding-left: 25px;
    border:1px solid red;
    margin-left: 20px;
    box-shadow: 5px 10px 15px #888888;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.hr{
    position: absolute;
    top: 400px;
    left: 700px;
    width: 180px;
    border: 1px solid black;
    width: 230px;
}
@media all and (max-width:856px){
    .hr1{
        display:none;
    }
    .hr2{
        display:none;
    }
    .hr{
        display:none;
    }
    .trip{
        margin-left:141px; 
        font-size:30px;
    }
    .image{
        margin-left:64px;
        margin-top:-64px;
    }
    .parent{
        margin-left:10px;
    }
    .body{
        z-index: -1;
        filter: blur(10px);
        margin-left:30px;
    }
    .box{
        z-index:+1;
    }
    .addlist{
        margin-top:130px;
        margin-left:-47px;
    }
}