.addlist{
    padding: 35px;
    margin: 30%;
    margin-top: 15%;
    margin-right: 36%;
    margin-left: 36%;
    border: 2px solid red;
    text-align:center;
    border-radius: 20px;
    box-shadow: 10px 5px 15px black;
    position: absolute;
    top:100px;
    left: 100px;
}
.area{
    border: 2px solid red;
    padding-left: 50px;
    padding-right: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px black;
}
.add{
    background-color: red;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
}
.child1{
    z-index: +1;
}
.parent1{
    filter: blur(10px);
    z-index: -1;
}
.parent{
    display: flex;
    margin: 10%;
    justify-content: space-around;
    margin-left:20%;
    margin-top: 0%;
}
.child{
    padding-bottom: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border:1px solid red;
    margin-left: 20px;
    box-shadow: 5px 10px 15px #888888;
}
img{
    display: inline-block;
}
p{
    display: inline-block;
}
@media all and (max-width:856px){
    .addlist{
        margin-top:39%;
        margin-left:-8%;
        padding:24px;
        padding-left:20px;
    }
    .parent{
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 100%;
        margin-top:-34rem;
        padding-top:254px;
        margin-left:20px;
    }
    .parent{
        z-index:-1;
        filter:blur(5px);
    }
    .child1{
        z-index:+1;
    }
    .delete{
        display: none;
    }
    .image{
        display: none;
    }
    .pending{
        display: none;
    }
    .child{
        margin-bottom: 10px;
        padding: 10px 50% 10px 10px;
        margin-right: 0px;
        padding-right:300px;
        padding-top:10px;
        padding-bottom:10px;
        height:8.8vh;
        width:76.8vw;
    }
    h3{
        display:inline;
        padding-right:100px;
        padding-left:-24px;
        padding-top:20px;
        padding-bottom:20px;
        font-size:30px;
        color:black;
    }
    .hr1{
        display:none;
    }
    .hr2{
        display:none;
    }
    .hr3{
        display:none;
    }
    .paragraph{
        margin-top:50px;
        margin-left:2rem;
    }
    .plus{
        margin-top:-93px;
        margin-left:20rem;
    }
    .list{
        display:none;
    }
}